

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
 	font-size: 2em;
 	line-height:1em;
 	font-family: 'Tangerine', cursive;
 	background: black;
 	background-image: url('../img/background.jpg');
}

.container {
	/* background: #FFF6E4; */
	/* background-image: url('../img/paper.jpg'); */
	/* background-image: url('../img/border4.png'); */
	/* background-size: 100% 100%; */
	background: url('../img/border5.png') 0 / 100% 100% no-repeat, url('../img/paper5.gif');
	padding: 150px 200px;
	max-width: 850px;
}

h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}

.span3, .span9 {
	margin: 20px 10px;
}

hr {
	border-top: 1px solid black;
	border-bottom: none;
}












